{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class = " wholepost mt-2">
<div class = " posts rounded">

<form class = "  mb-2 pt-3 container " novalidate="novalidate" id="post.id" method="POST" action="{{ url_for('reaction', post_id = post.id) }}">
    {{form1.csrf_token}}
<div class = "pr-2 text-center ">
    {% filter upper %}
      <h6></h6>{{ post.title }}</h6>
      <hr style = "border: solid #138a9c 0.5px;" width = 70%;>

      
    {% endfilter %}
      <p >{{ post.content }}<p>
          
</div>

{% if  current_user.is_authenticated %}
<hr style = "border: solid #138a9c 0.5px;" width = 70%;>

<div class = " likebuttons ml-5 text-center">
    {{ form1.like(class="btn btn-sm  btn-outline-info  mr-5")}}
    {{ form1.shocked(class="btn btn-sm  btn-outline-info mr-5")}} 
    {{ form1.laugh(class="btn btn-sm  btn-outline-info mr-5")}} 

    
        </div>   
        <p class = "text-center mr-1 mt-1"> <small>Reacts : {{ post.count }}  </small></p>

        <div class = "text-center  postTitle">
            <a  href="{{ url_for('comments',post_id = post.id) }}"><h6 class = "btn info-sys btn-block  ">Comments</h6></a>
            </div>
        {% endif %}
       
      </form>

</div>
     
</div>
{% endfor %}

{% endblock content %}