<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='mainpagedesign.css') }}">
  <title>Sign Up</title>
</head>



<body>
  <!-- Navbar -->
  <nav class="navbar bg-info navbar-sticky-top">
    <a class="mx-auto ml-md-0 text-xs-centernavbar-brand text-white" href = "{{ url_for('mainpage') }}"><h2 class="mt-2 ">Scossip</h2></a>
  


</nav>
<!--Title-->
  <h1 class="text-center mt-2 pb-1 pt-4 col-sm-12  text-info">Please enter your details.
    <p class="text-center mt-0.5 pb-0.5 pt-0.5 col-sm-12  text-info">
        <small><small><small><small> * Required fields </small></small></small></small>
      </p>
      <p style="color:red"><small><small><small><small> {{ exist }} </small></small></small></small></p>
    </h1>

<!---Forms-->



  <form class = " pt-3 container " id="centered" method="POST" action="{{url_for('signup')}}">

      {{ form.hidden_tag() }}
      {{form.csrf_token}}
    <div class="row">
    <div class="col">
        <small style="color: red">*</small> First Name : 
        {% if form.first.errors %}
          {{ form.first(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.first.errors %}
              <span> {{ error }} </span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.first(class="form-control form-control-md") }}
        {% endif %}
        
    </div>
    <div class="col">
 <small style="color: red">*</small> Last Name: 
 {% if form.last.errors %}
 {{ form.last(class="form-control form-control-md is-invalid") }}
 <div class="invalid-feedback">
   {% for error in form.last.errors %}
     <span> {{ error }} </span>
   {% endfor %}
 </div>
{% else %}
 {{ form.last(class="form-control form-control-md") }}
{% endif %}

    </div>
  </div>
      
      
      
      <div class="row pt-4">
        <div class="col ">
        <small style="color: red">*</small> User Name: <small id = "sm3" style="color: red"> (6-20 digits with only letters and numbers)</small>
        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span> {{ error }} </span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control-md") }}
        {% endif %}
 
  </div>
        <div class="col ">
        <small style="color: red">*</small> Email:
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span> {{ error }} </span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-md") }}
        {% endif %}
        
  </div>
         
          </div>

      

  <div class="row pt-4">
  <div class="col my-auto ">
    <small style="color: red">*</small> Password: <small id = "sm5"style="color: red"> (8-20 digits with only letters and numbers) </small>
    {% if form.password.errors %}
          {{ form.password(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span> {{ error }} </span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control-md") }}
        {% endif %}
         </div>
  <div class="col">
    <small style="color: red">*</small> Confirm Password:
    {% if form.confirm.errors %}
          {{ form.confirm(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.confirm.errors %}
              <span> {{ error }} </span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm(class="form-control form-control-md") }}
        {% endif %}
        
  </div>
  </div>


     <div class=" input-group-md form-group pt-4">
        <small style="color: red">*</small> Which campus(Uni) are you located at? 
       
        {% if form.campus.errors %}
        {{ form.campus(class="form-control form-control-md is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.campus.errors %}
            <span> {{ error }} </span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.campus(class="form-control form-control-md") }}
      {% endif %}
      
      </div>



        <div class="form-group pb-3">
    <label for="exampleTextarea">Give students a brief description of yourself. <small>(Optional, will be shown publicly)</small></label>
    {% if form.description.errors %}
        {{ form.description(class="form-control form-control-md is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.description.errors %}
            <span> {{ error }} </span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.description(class="form-control form-control-md") }}
      {% endif %}
  </div>

  {{ form.submit(class="btn btn-outline-info ")}}

        </form>

<br>

<div class="border-top pt-3 container">
  
    Already Have An Account? <a class="ml-2" href="{{ url_for('mainpage') }}">Log in</a>
  

</div>



<!--Footer-->
<!--Footer-->

<footer class="bg-info  text-center footertxt mt-5 pb-2 pt-3" >
<h2 class = "text-white">Scossip</h2>
</footer>






  <script type="text/javascript" src="checking.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
